        .instagram-media {
            background: #FFF;
            border: 0;
            border-radius: 3px;
            box-shadow: 0 0 1px 0 rgba(0,0,0,0.5), 0 1px 10px 0 rgba(0,0,0,0.15);
            margin: 1px;
            max-width: 540px;
            min-width: 326px;
            padding: 0;
            width: 99.375%;
            width: undefinedpx;
            height: undefinedpx;
            max-height: 100%;
            width: undefinedpx;
        }

        #main_link {
            background: #FFFFFF;
            line-height: 0;
            padding: 0 0;
            text-align: center;
            text-decoration: none;
            width: 100%;
        }

        .profile-pic {
            background-color: #F4F4F4;
            border-radius: 50%;
            flex-grow: 0;
            height: 40px;
            margin-right: 14px;
            width: 40px;
        }

        .profile-info {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: center;
        }

        .name-bar {
            background-color: #F4F4F4;
            border-radius: 4px;
            flex-grow: 0;
            height: 14px;
            margin-bottom: 6px;
            width: 100px;
        }

        .caption-bar {
            background-color: #F4F4F4;
            border-radius: 4px;
            flex-grow: 0;
            height: 14px;
            width: 60px;
        }

        .icon {
            background-color: #F4F4F4;
            border-radius: 50%;
            height: 12.5px;
            width: 12.5px;
        }

        .arrow {
            background-color: #F4F4F4;
            height: 12.5px;
            transform: rotate(-45deg) translateX(3px) translateY(1px);
            width: 12.5px;
            flex-grow: 0;
            margin-right: 14px;
            margin-left: 2px;
        }

        .dot {
            background-color: #F4F4F4;
            border-radius: 50%;
            height: 12.5px;
            width: 12.5px;
            transform: translateX(9px) translateY(-18px);
        }

        .arrow-right {
            width: 0;
            height: 0;
            border-top: 2px solid transparent;
            border-left: 6px solid #f4f4f4;
            border-bottom: 2px solid transparent;
            transform: translateX(16px) translateY(-4px) rotate(30deg);
        }

        .arrow-left {
            width: 0;
            height: 0;
            border-top: 8px solid #F4F4F4;
            border-right: 8px solid transparent;
            transform: translateY(16px);
        }

        .arrow-bottom {
            background-color: #F4F4F4;
            flex-grow: 0;
            height: 12px;
            width: 16px;
            transform: translateY(-4px);
        }

        .time-bar {
            background-color: #F4F4F4;
            border-radius: 4px;
            flex-grow: 0;
            height: 14px;
            margin-bottom: 6px;
            width: 224px;
        }

        .shared-post {
            color: #c9c8cd;
            font-family: Arial, sans-serif;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 0;
            margin-top: 8px;
            overflow: hidden;
            padding: 8px 0 7px;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
        }